.break, .session {
    text-align: center;
    border: 10px outset #0e7774;
    padding: 20px;
    font-size: large;
    margin: 0px auto;

    color: #f0fafa;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #399c99;

    border-radius: 5px;
    
    
}



.title{
    font-size: 200%;
    float:left;

    
}

.dig-clock{
    color: white;
    float: right;
}

.App{
    background-color: #7ca7a5;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: auto;
    resize: both;
    position: relative;
 
 
    
}
.timecontainer{
    float: right;
    border: 2px solid white;    
}

.row div{
    margin: 20px auto;
}

.timeleft{
    
    text-align: center;
    
    padding:30px;
    font-size: 30px;
    font-family: monospace;
    justify-content: center;
    height: auto;
    
}
.timeleft button{
    padding: 20px;
    margin: 20px;
    
}
.countdown{
  
    padding: 10px;
    font-size: 40px;
    border-radius: 50px;
    width:50%;
    margin: auto;
    background-color: white;

}