.break, .session {
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    font-size: large;
    margin: 0px auto;
    color:black;
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    border-radius: 10%;
    
    
}
.digitalclock{

}

.timecontainer div{
    color: black;
    margin: 0px auto;
    text-align: center;
    justify-content: center;
    border: 2px solid rgb(107, 82, 82);
    
}

.row div{
    margin: 20px auto;
}

.timeleft{
    
    text-align: center;
    
    padding:30px;
    font-size: 30px;
    font-family: monospace;
    justify-content: center;
    height: 400px;
    
}
.timeleft button{
    padding: 20px;
    margin: 20px;
    
}
.countdown{
    border: 2px solid gray;
    padding: 10px;
    font-size: 40px;
    border-radius: 50px;
    width:50%;
    margin: auto;
    background-color: white;

}